<%= form_for auditorium do |f| %>
<div class="mdl-textfield mdl-js-textfield">
	<%= label_tag :name, "Name", class:"mdl-textfield__label" %>
	<%= f.text_field :name, class: "mdl-textfield__input" %>
</div><br />
<div class="mdl-textfield mdl-js-textfield">
	<%= label_tag :seating, "Number of seats", class:"mdl-textfield__label" %>
	<%= f.text_field :seating, class: "mdl-textfield__input"%>
</div><br />
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Add</button>
<% end %>