<h1>view all tickets sold per movie</h1>

<ul class='mdl-list'>
	<% movies.each do |movie| %>
	<li class='mdl-list__item'><%= movie.name%>: <%= movie.tickets.length %> sold </li>
	<% end %>
</ul>

<h1>view all sales</h1>
<ul class='mdl-list'>
	<% tickets.each do |ticket| %>
	<li class='mdl-list__item'><%= ticket.showtime.movie.name %> at 
		<%= format_time(ticket.showtime.time) %> 
		bought by <%= ticket.customer%></li>
	<% end %>
</ul>
