<h1>Welcome!</h1>

<%= render 'messages/notice' %>

<h5>Choose a showtime to begin your purchase</h5> 
<h6>Each ticket is $10.00</h6>
<% @movies.each do |movie| %>
<div>
	<button id="<%= movie %>"class="mdl-button mdl-js-button mdl-button--primary"><%= movie.name %> showtimes for today</button>
	<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="<%= movie %>">
		<% movie.showtimes.order(time: :asc).each do |showtime| %>
			<li class="mdl-menu__item"><%= link_to format_time(showtime.time), showtime_path(showtime) %></li>
		<% end %>
	</ul>
</div>
<% end %>
